<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSV Blog</title>
    </head>
<body>
        <div>
            <h1><a href="/">CSV Blog</a></h1>
            <br>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>This is a post</p>
            <p>published: 09.16.2018, 12:14</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>This is another post</p>
            <p>published: 09.16.2018, 10:14</p>
        </div>
    </body>
</html>