{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- https://help.pythonanywhere.com/pages/DjangoStaticFiles/
            Favicon link: https://www.iconsdb.com/orange-icons/csv-icon.html
            https://pinetools.com/split-files | create CSV splitter(?) -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WhyMeCSV</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/thing.js' %}"></script> 
    </head>



<div>
    {% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}
</div>

    <body>
        <!-- Nav bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"><img src="{% static 'logo.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
                    <a class="nav-item nav-link active space-out" href="#about">What?</a>
                    <a class="nav-item nav-link active space-out" href="#columns">Columns Checked</a>
                    <a class="nav-item nav-link active space-out" href="#changes">Recent Changes</a>
                    <a class="nav-item nav-link active space-out" href="#split">CSV Splitter</a>
                    <a class="nav-item nav-link active space-out" href="#github">Contribute</a>
                </div>
            </div>
        </nav>
        

        <!-- Website name and file upload and clean button -->
        <header class="bg-dark" style="padding:256px 32px;">
            <h1 class="display-1 text-center">Why Me CSV!?</h1>

            <div class="form-group">
                <form action="{% url 'cleancsv:upload_csv' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <label class="btn btn-primary btn-lg btn-block btn-size">
                        Upload File <input id="file" type="file" class="btn btn-primary btn-lg btn-block btn-size" name="csv_file" hidden>
                    </label>
                    <input type="submit" class="btn btn-primary btn-lg btn-block" name="finished_file" value="Clean Me CSV">
                </form>
            </div>

        </header>
        
        
        <div id="about" class="container">
            <div class="row m-sec">
                <div class="col-md-6 col-lg-6" style="left: -10%">
                        <img src="https://static.thenounproject.com/png/115668-200.png" class="rounded float-left" style="height: 75%; width: 75%"/>
                </div>

                    <div class="float-right col-md-6 col-lg-6" style="right: 11%">
                        <h1>What does it do?</h1>
                        <ol class="list-group" style="width: 700px">
                            <li>Deletes all empty rows and columns</li>
                            <li>Attempts to rename columns so there is a first name, last name, email, and 
                            phone column</li>
                            <li>Puts first name as first column followed by last name, email, and phone 
                            column (This is needed for row merger.)</li>
                            <li>If the email column contains a comma then it spilts on the comma and puts what was 
                            split off into the second_contact_email column (It will create this column if it 
                            doesn't excist)</li>
                            <li>Moves any invalid emails to the the second_contact_email column (It will create this 
                            column if it doesn't excist)</li>
                            <li>Searches the rows for duplicate emails and if it finds any then it merges the rows</li>
                            <li>Moves any invalid phone numbers to the the second_contact_phone column (It will 
                            create this column if it doesn't excist)</li>
                            <li>Cleans up the file the about (e.g. removes extra commas, nan, spaces, etc.)</li>
                        </ol>
                    </div>
            </div>
        </div>

        <!-- Make list column a bit larger 
            sticky not working-->
        <div id="columns" class="row sec-2">
            <div class="m-sec col-md-6 col-lg-6 stuff-left">
                <h1>Columns that are looked for...</h1>
                <h5>and variations that are renamed to the looked for column for quick matching.</h5>
                <div class="row">
                    <!-- List group -->
                    <div class="col-6">
                        <div class="list-group" id="myList" role="tablist">
                            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#first_name" role="tab">First Name<span class="badge badge-dark badge-pill float-right text-center">4</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#last_name" role="tab">Last Name<span class="badge badge-dark badge-pill float-right text-center">4</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#email" role="tab">Email<span class="badge badge-dark badge-pill float-right text-center">10</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#phone" role="tab">Phone<span class="badge badge-dark badge-pill float-right text-center">16</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#type" role="tab">Type<span class="badge badge-dark badge-pill float-right text-center">4</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#assigned_agent" role="tab">Assigned Agent<span class="badge badge-dark badge-pill float-right text-center">10</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#assigned_lender" role="tab">Assigned Lender<span class="badge badge-dark badge-pill float-right text-center">1</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#alternate_phone" role="tab">Alternate Phone<span class="badge badge-dark badge-pill float-right text-center">2</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#street_address" role="tab">Street Address<span class="badge badge-dark badge-pill float-right text-center">7</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#city" role="tab">City<span class="badge badge-dark badge-pill float-right text-center">4</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#state" role="tab">State<span class="badge badge-dark badge-pill float-right text-center">4</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#zip" role="tab">Zip<span class="badge badge-dark badge-pill float-right text-center">5</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#fax" role="tab">Fax<span class="badge badge-dark badge-pill float-right text-center">3</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#office_phone" role="tab">Office Phone<span class="badge badge-dark badge-pill float-right text-center">2</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#second_contact_phone" role="tab">Second Contact Phone<span class="badge badge-dark badge-pill float-right text-center">1</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#status" role="tab">Status<span class="badge badge-dark badge-pill float-right text-center">2</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#timeframe" role="tab">Timeframe<span class="badge badge-dark badge-pill float-right text-center">3</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#area" role="tab">Area<span class="badge badge-dark badge-pill float-right text-center">4</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#home_type" role="tab">Home Type<span class="badge badge-dark badge-pill float-right text-center">2</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#source_details" role="tab">Source Details<span class="badge badge-dark badge-pill float-right text-center">6</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#minimum_bedrooms" role="tab">Minimum Bedrooms<span class="badge badge-dark badge-pill float-right text-center">2</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#minimum_bathrooms" role="tab">Minimum Bathrooms<span class="badge badge-dark badge-pill float-right text-center">2</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#minimum_price" role="tab">Minimum Price<span class="badge badge-dark badge-pill float-right text-center">1</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#maximum_price" role="tab">Maximum Price<span class="badge badge-dark badge-pill float-right text-center">1</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#start_date" role="tab">Start Date<span class="badge badge-dark badge-pill float-right text-center">9</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#last_active_at" role="tab">Last Active<span class="badge badge-dark badge-pill float-right text-center">3</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#last_communication_at" role="tab">Last Communication At<span class="badge badge-dark badge-pill float-right text-center">2</span></a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#average_property_price" role="tab">Average Property Price<span class="badge badge-dark badge-pill float-right text-center">4</span></a>
                        </div>
                    </div>
                    <!-- Tab panes -->

                    <div class="wrapper tab-content" id="nav-tabContent">
                        <div class="tab-pane active follow-scroll" id="first_name" role="tabpanel">
                            <p>
                                <ul>
                                    <li>FirstName</li>
                                    <li>Primary Firstname</li>
                                    <li>Lead First Name</li>
                                    <li>Name First</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="last_name" role="tabpanel">
                            <p>
                                <ul>
                                    <li>LastName</li>
                                    <li>Primary Lastname</li>
                                    <li>Lead Last Name</li>
                                    <li>Name Last</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="email" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Email Address</li>
                                    <li>EmailAddress</li>
                                    <li>Email (Personal) #1</li>
                                    <li>Email Address 1</li>
                                    <li>Email 1</li>
                                    <li>Email1</li>
                                    <li>Lead Email</li>
                                    <li>E-mail Address</li>
                                    <li>Subscriber Email</li>
                                    <li>Emails</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="phone" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Mobile Phone</li>
                                    <li>Cell Phone</li>
                                    <li>Primary Mobile Phone</li>
                                    <li>Phone (Mobile) #1</li>
                                    <li>Telephone1</li>
                                    <li>Phone 1</li>
                                    <li>Phone Number</li>
                                    <li>Telephone Mobile</li>
                                    <li>Phone(Where_Available)</li>
                                    <li>Lead Phone</li>
                                    <li>Home Phone</li>
                                    <li>Cell Phone #</li>
                                    <li>Phone #</li>
                                    <li>Home #</li>
                                    <li>Phone Numbers</li>
                                    <li>Phones</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="type" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Contact Type</li>
                                    <li>LeadType</li>
                                    <li>Buyer/Seller</li>
                                    <li>Buyer Seller</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="assigned_agent" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Agent</li>
                                    <li>AgentName</li>
                                    <li>Lead Assigned To Name</li>
                                    <li>Realtor</li>
                                    <li>Agent Assigned</li>
                                    <li>BuyerAgent</li>
                                    <li>Assigned Staff</li>
                                    <li>Lead Owner</li>
                                    <li>Agent Id</li>
                                    <li>Assigned To</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="assigned_lender" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Lender</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="alternate_phone" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Home Phone</li>
                                    <li>Phone 2</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="street_address" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Address</li>
                                    <li>Address1</li>
                                    <li>Address 1</li>
                                    <li>Street 1</li>
                                    <li>Address Street 1</li>
                                    <li>Home Street</li>
                                    <li>Address 1 - Street</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="city" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Address City</li>
                                    <li>City 1</li>
                                    <li>Home City</li>
                                    <li>Address 1 - City</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="state" role="tabpanel">
                            <p>
                                <ul>
                                    <li>State 1</li>
                                    <li>Address State</li>
                                    <li>Home State</li>
                                    <li>Address 1 - State</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="zip" role="tabpanel">
                            <p>
                                <ul>
                                    <li>ZipCode</li>
                                    <li>Zip 1</li>
                                    <li>Address Zip</li>
                                    <li>Home Postal code</li>
                                    <li>Address 1 - Zip</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="fax" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Fax Number</li>
                                    <li>Business Fax</li>
                                    <li>Home Fax</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="office_phone" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Work Phone</li>
                                    <li>Business Phone</li>
                                </ul>
                            </p>
                        </div>	                    
                        <div class="tab-pane fade follow-scroll" id="second_contact_phone" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Secondary Contact Phone</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="status" role="tabpanel">
                            <p>
                                <ul>
                                    <li>StatusName</li>
                                    <li>Pipeline Status</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="timeframe" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Timeframe</li>
                                    <li>TimeframeType</li>
                                    <li>Buying Timeframe</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="area" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Looking In</li>
                                    <li>AreaSearchedMost</li>
                                    <li>Location</li>
                                    <li>Favorite City</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="home_type" role="tabpanel">
                            <p>
                                <ul>
                                    <li>AveragePropertyTypeViewed</li>
                                    <li>Property Type</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="source_details" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Source</li>
                                    <li>Lead Source</li>
                                    <li>OriginalSource</li>
                                    <li>Source Page Name</li>
                                    <li>Sub Source</li>
                                    <li>Website Source</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="minimum_bedrooms" role="tabpanel">
                            <p>
                                <ul>
                                    <li>AverageBedsViewed</li>
                                    <li>Bedrooms</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="minimum_bathrooms" role="tabpanel">
                            <p>
                                <ul>
                                    <li>AverageBathsViewed</li>
                                    <li>Bathrooms</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="minimum_price" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Min_Price_Preference</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="maximum_price" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Max_Price_Preference</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="start_date" role="tabpanel">
                            <p>
                                <ul>
                                    <li>DateCreated</li>
                                    <li>Register Date</li>
                                    <li>Registered</li>
                                    <li>Date Added</li>
                                    <li>RegisterDate</li>
                                    <li>Contact Created Date</li>
                                    <li>Registration Date</li>
                                    <li>Creation Date</li>
                                    <li>Created At</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="last_active_at" role="tabpanel">
                            <p>
                                <ul>
                                    <li>DateActivity</li>
                                    <li>Last Login</li>
                                    <li>LastVisitDate</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="last_communication_at" role="tabpanel">
                            <p>
                                <ul>
                                    <li>LastPhoneCall</li>
                                    <li>Last Contacted At</li>
                                </ul>
                            </p>
                        </div>
                        <div class="tab-pane fade follow-scroll" id="average_property_price" role="tabpanel">
                            <p>
                                <ul>
                                    <li>Average Price</li>
                                    <li>AveragePrice</li>
                                    <li>List Price</li>
                                    <li>AvgListingPrice</li>
                                </ul>
                            </p>
                        </div>	





                    </div>
                </div>
            </div>



            <div class="m-sec col-md-6 col-lg-6 stuff-right">
                    <img src="http://bigwords101.com/wp-content/uploads/2016/01/3339bc5282346466c67e4f425c5dceb8.jpg" class="pull-right" style="height: 75%; width: 75%"/>
            </div>
        </div>

        
        <div id="changes" class="container">
            <div class="row m-sec">
                <div class="col-md-6 col-lg-6" style="left: -10%">
                        <img src="https://lonprater.files.wordpress.com/2014/08/whats-new-icon.jpg" class="rounded float-left" style="height: 75%; width: 75%"/>
                </div>

                    <div class="float-right col-md-6 col-lg-6" style="right: 11%">
                        <h1>Recent Changes</h1>
                        <ul class="list-group" style="width: 700px">
                            <li class="list-group-item list-group-item-danger">Issue: The code is ugly</li>
                            <li class="list-group-item list-group-item-danger">Issue: Probably a lot of stuff I don't know about</li>
                            <li class="list-group-item list-group-item-warning">Fix: No longer adds ".0" to the end of numbers in certain columns</li>
                            <li class="list-group-item list-group-item-success">Addition: Add more possible columns to match</li>
                            <li class="list-group-item list-group-item-success">Addition: Website is less ugly</li>
                        </ul>
                    </div>
            </div>
        </div>


        <div id="split" class="sec-2">
            <div class="row">
                    <div class="stuff-left col-md-6 col-lg-6 sec-3">
                        <h1>CSV Splitter</h1>
                        <p>
                        If the CSV is more than 5 MB then you may need to split it.
                        Click the image to the right or the link below to go to a site that can help with that.
                        </p>
                        <a href="https://pinetools.com/split-files">http://filesplit.org/</a>
                    </div>

                    <div class="col-md-6 col-lg-6 d-flex align-items-center d-flex justify-content-end">
                        <a href="https://pinetools.com/split-files">
                            <img src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Cut-512.png" style="height: 55%; width: 55%"/>
                        </a>
                    </div>
            </div>
        </div>


        

        <div>
            <p id="github"><a href="https://github.com/ProfoundWanderer/csv-formatter">View project on Github!</a></p>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
